CMakeUserPresets.json
vcpkg_installed/
out/
build/
.vs/
**/privatecontact**.tex
**/*.aux
**/*.log

**/*.out
**/*.synctex.gz
latex/*-resume.pdf
latex/*-resume.md
latex/*-resume.html
latex/*-resume.tex

